.input-label{
  margin-right: 20px;
    width: 130px !important;
    display: block;
    line-height: 35px;
    float: left;
    text-align: right;
}

.input-label-inline {
  margin-left: 10px;
  margin-right: 14px;
  width: 85px;
  display: inline-table;
  text-align: right;
}

.large-button{
  margin-top: 13px !important;
}

.input-fields{
  margin-top: 30px;
}

.print-sale-button{
  clear: both;
  margin-top: 20px !important;
}

.print-sale-button::after {
  margin-bottom: 20px;
}

#sales-button{
  margin-top: 25px;
  margin-left: 45px;
}

#search-lager{
  float: left;
}

.button-menu {
  margin-right: 10px !important;
  margin-top: 15px !important;
}

.input-fields-inline{
  display: inline-block;
  margin-left: 20px;
}

div.ui.segment.active.tab {
  margin-top: -14px;
}

div.ui.bottom.attached.segment.active.tab {
    border: none;
    border-left: solid 1px rgb(210,210,210);
    margin-top: 0px !important;
    padding-left: 30px;
}

#button-cancel-kunde{
  margin-left: 20px;
}

#button-cancel-lager{
  margin-left: 20px;
}

#button-save-kunde {
  margin-left: 9px;
  display: block-inline;
}

#button-save-lager {
  margin-left: 9px;
  display: block-inline;
}
