#header {
  width: 100%;
  height: 150px;
  background: rgb(238,238,238);
}

#Subheader{
  padding: 3px;
}

h2.ui.icon.header {
  padding-top:  10px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.ui.segment.active.tab {
  margin-top: -14px;
}
